header {
  height: 100vh;
  width: 100vw;
  background-color: rgba(250, 245, 215, 0.914);
  padding: 5em 10em;
}

#svg116 {
  max-width: 40vw;
  max-height: 750px;
  align-self: center;
}

/* #marie-curie {
  height: 500px;
} */
#atomic-symbol {
  margin: 10px 100px;
  padding: 10px;
  width: 40vw;
}

#liquid {
  box-shadow: 0 0 50px #01fe00;
}

section {
  padding-top: 5em;
  height: 100vh;
}

#curie-quote {
  font-size: 2em;
}
